/*------------------------------------------------------------------------------
/                         Globals variables                                         
--------------------------------------------------------------------------------

blue: #0099FF
Gray: #D6D7D7


*/
/*------------------------------------------------------------------------------
/                         Global style                                         
------------------------------------------------------------------------------*/

html,body {
    background-color: #5f5f5f;
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    font-family: "Open sans";
}

table{
    margin-bottom: 25px;
}

th{
    color: #ffffff;
    background-color:#333 !important;
}

/*------------------------------------------------------------------------------
                           Header & Footer's style                              
------------------------------------------------------------------------------*/
.bs-docs-nav {
    margin-bottom: 0;
    background-color: #EEE;
    border-bottom: 0;
}

header{
    background-color: rgba(255, 255, 255, 0.96);
}

footer{
    padding: 1px 1px;
    background-color: #EEE;
    border-top: 1px solid #3a3a3a;
    color: #428bca;
    text-align: center;
    position:fixed;
    bottom:0;
    right: 0;
    width: 100%;
    z-index:0;   
}

footer h6{
    font-family: "Open sans";
}


/*------------------------------------------------------------------------------
                           Normal page customisation                              
------------------------------------------------------------------------------*/


.imageContener{
    left: 0;
    top: 50px;
    height: 600px;
    width: 100%;
    max-height: 250px;
    margin-right: 0px;
    margin-bottom: 50px;
    position: relative;
    background: url(https://lh4.googleusercontent.com/-WE2JWyPrwZE/U2EtF3wO0MI/AAAAAAAAB7o/PnctCk7Eg_I/w4201-h1812-no/Freljord_tower_establishing_Wide.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.headerText{
    position:absolute;
    top:50px;
    left:20%;
}

.headerText h1{   
    font-size: 60px;
    font-weight:bold;
    color:white;
    text-shadow: 1px 1px 2px #080808;
}

.headerText p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 1px #080808;
}

.centeredContent{
    margin-left: auto;
    margin-right: auto;
}

.centeredText{
    text-align: center;
}

.thumbnail{
    background-color: #777;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

:invalid {
    border: 2px solid #0099FF;
}


table{
    background-color: #525252;
    color: white;
}

/*------------------------------------------------------------------------------
                            bootstrap customisation                              
------------------------------------------------------------------------------*/

#wrapper {
    width: 99%;
    max-width: 1200px;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.jumbotron{
    -webkit-box-shadow: 2px 8px 10px 0 #000000;
    box-shadow: 2px 8px 10px 0 #000000;
    padding: 5% !important;
}

.row{
    margin: 0;
}

.form-control {
    color: #0099FF;
}

.btn-primary.active {
    background-color: #0099FF;
    border-color: #2b669a;
}

.btn-primary {
    background-image: linear-gradient(to bottom,#0099FF 0,#276F9F 100%);
}

.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #428bca;
}


.table tbody tr:hover td {
    background: #4a9ce0; /* Old browsers */
    background: -moz-linear-gradient(top,  #4a9ce0 0%, #428bca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a9ce0), color-stop(100%,#428bca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4a9ce0 0%,#428bca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4a9ce0 0%,#428bca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4a9ce0 0%,#428bca 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4a9ce0 0%,#428bca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a9ce0', endColorstr='#428bca',GradientType=0 ); /* IE6-9 */


}


.table-striped tbody tr:nth-child(odd):hover td {
    background: #4a9ce0; /* Old browsers */
    background: -moz-linear-gradient(top,  #4a9ce0 0%, #428bca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a9ce0), color-stop(100%,#428bca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4a9ce0 0%,#428bca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4a9ce0 0%,#428bca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4a9ce0 0%,#428bca 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4a9ce0 0%,#428bca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a9ce0', endColorstr='#428bca',GradientType=0 ); /* IE6-9 */
}