/*------------------------------------------------------------------------------
/                         Globals variables                                         
--------------------------------------------------------------------------------

blue: # 0099FF
lightBlue : # 3DC8FF
Gray: # D6D7D7


*/
/*------------------------------------------------------------------------------
/                         Global style                                         
------------------------------------------------------------------------------*/

html,body {
    background-color: #DDDDDD;
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    font-family: "Open sans";
}

table{
    margin-bottom: 25px;
}

th{
    color: #ffffff;
    background-color:#333 !important;
}

/*------------------------------------------------------------------------------
                           Header & Footer's style                              
------------------------------------------------------------------------------*/
.bs-docs-nav {
    margin-bottom: 0;
    background-color: rgba(238, 238, 238, 1);
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 6px 0.2px #050505;
    box-shadow: 0 1px 6px 0.2px #050505;
}


footer{
    color: black;
    text-align: center;
    position:fixed;
    bottom:8px;
    left: 0;
    width:100%;
    z-index:0;
    padding: 0px;
}

footer .glass{
    width: 160px;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.98);
}

footer h6{
    color: #428bca;
    margin-top: 3px;
    margin-bottom: 3px;
}

footer a{
    font-size: 10px;
    color: black;
}

th, tr{
    text-align: center;
}

.trLeft{
    padding-left: 4% !important;
    text-align: left;
}



/*------------------------------------------------------------------------------
                           Normal page customisation                              
------------------------------------------------------------------------------*/


.imageContener{
    left: 0;
    top: 50px;
    height: 600px;
    width: 100%;
    max-height: 250px;
    margin-right: 0px;
    margin-bottom: 50px;
    position: relative;
    background: url(https://lh6.googleusercontent.com/-1RF7_kBUnqk/U2HyfKYVSQI/AAAAAAAAB78/JqVIU8m1lik/w2560-h847-no/Freljord_tower_establishing_Wide.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.headerText{
    position:absolute;
    top:50px;
    left:20%;
}

.headerText h1{   
    font-size: 60px;
    font-weight:bold;
    color:white;
    text-shadow: 1px 1px 2px #080808;
}

.headerText p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 1px #080808;
}

.centeredContent{
    margin-left: auto;
    margin-right: auto;
}

.centeredText{
    text-align: center;
}

.thumbnail{
    background-color: #777;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

:invalid {
    border: 1px solid #428bca;
}


table{
    background-color: #525252;
    color: white;
}


.yourPlayer{
    background: -moz-linear-gradient(top,  rgba(61,200,255,1) 0%, rgba(0,150,188,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,200,255,1)), color-stop(100%,rgba(0,150,188,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(61,200,255,1) 0%,rgba(0,150,188,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(61,200,255,1) 0%,rgba(0,150,188,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(61,200,255,1) 0%,rgba(0,150,188,0.75) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(61,200,255,1) 0%,rgba(0,150,188,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dc8ff', endColorstr='#bf0096bc',GradientType=0 ); /* IE6-9 */




    color: black;
}

.rank, .assist{
    text-align: left;
}

.creeps, .gold{
    text-align: right;
}

.killDeathAssist{
    text-align: right;
    padding-right: 2em;
}

.blueTeam{
    color:black;
    text-shadow: 1px 0px 1px #3DC8FF;
}

.purpleTeam{
    color:black;
    text-shadow: 1px 0px 1px #CC33FF;
}

.shareLabelDiv{
    text-align: right;
}

/*------------------------------------------------------------------------------
                            bootstrap customisation                              
------------------------------------------------------------------------------*/

#wrapper {
    width: 99%;
    max-width: 1200px;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.jumbotron{
    -webkit-box-shadow: 2px 8px 10px 0 #000000;
    box-shadow: 2px 8px 10px 0 #000000;
    padding: 5% !important;
}

.row{
    margin: 0;
}

.form-control {
    color: #0099FF;
}

.btn-primary.active {
    background-color: #0099FF;
    border-color: #2b669a;
}

.btn-primary {
    background-image: linear-gradient(to bottom,#0099FF 0,#276F9F 100%);
}

.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #428bca;
}

.table-condensed>thead>tr>th, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>tbody>tr>td, 
.table-condensed>tfoot>tr>td {
    vertical-align: middle;
}



/*.table tbody tr:hover td {
    background: #e5e5e5;  Old browsers 
    background: -moz-linear-gradient(top,  #e5e5e5 0%, #d4dadb 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d4dadb));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #e5e5e5 0%,#d4dadb 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #e5e5e5 0%,#d4dadb 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #e5e5e5 0%,#d4dadb 100%);  IE10+ 
    background: linear-gradient(to bottom,  #e5e5e5 0%,#d4dadb 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d4dadb',GradientType=0 );  IE6-9 

    color: black;


}*/

/*
.table-striped tbody tr:nth-child(odd):hover td {
    background: #e5e5e5;  Old browsers 
    background: -moz-linear-gradient(top,  #e5e5e5 0%, #d4dadb 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d4dadb));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #e5e5e5 0%,#d4dadb 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #e5e5e5 0%,#d4dadb 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #e5e5e5 0%,#d4dadb 100%);  IE10+ 
    background: linear-gradient(to bottom,  #e5e5e5 0%,#d4dadb 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d4dadb',GradientType=0 );  IE6-9 

    color: black;

}*/