/*------------------------------------------------------------------------------
/                         Globals variables                                         
--------------------------------------------------------------------------------

blue: #0099FF
Gray: #D6D7D7


*/
/*------------------------------------------------------------------------------
/                         Global style                                         
------------------------------------------------------------------------------*/

html,body {
    background-color: #5f5f5f;
    margin:0;
    padding:0;
    height:100%;
    width: 100%;

    font-family: "Open sans";
}

table{
    margin-bottom: 25px;
}

th{
    color: #ffffff;
    background-color:#333 !important;
}

.headerDivider {
    /*border-left:1px solid #0099FF;*/
}

/*------------------------------------------------------------------------------
                           Header & Footer's style                              
------------------------------------------------------------------------------*/
.bs-docs-nav {
    margin-bottom: 0;
    background-color: #EEE;
    border-bottom: 0;
}

footer{
    padding: 1px 1px;
    background-color: #EEE;
    border-top: 1px solid #3a3a3a;
    color: #428bca;
    text-align: center;
    position:fixed;
    bottom:0;
    right: 0;
    width: 100%;
    z-index:0;   
}

footer h6{
    font-family: "Open sans";
}


/*------------------------------------------------------------------------------
                           Normal page customisation                              
------------------------------------------------------------------------------*/


.imageContener{
    left: 0;
    margin-right: 0px;
    height: 400px;
    width: 100%;
    max-height: 200px;
    position: relative;
    background: url(https://lh3.googleusercontent.com/-U3acQhOG6xo/UQUTw7JVnUI/AAAAAAAAAFk/lQrjyLCxq_Y/w2236-h568-no/champ.jpg);
}

.headerText{
    position:absolute;
    top:30px;
    left:20%;
}

.headerText h1{   
    font-size: 60px;
    font-weight:bold;
    color:white;
}

.headerText p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
}

.centeredContent{
    margin-left: auto;
    margin-right: auto;
}

.thumbnail{
    background-color: #777;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

:invalid {
    border: 2px solid #0099FF;
}


table{
    background-color: #525252;
    color: white;
}

/*------------------------------------------------------------------------------
                           bootstrap customisation                              
------------------------------------------------------------------------------*/

#wrapper {
    width: 99%;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.jumbotron{
    -webkit-box-shadow: 2px 8px 10px 0 #000000;
    box-shadow: 2px 8px 10px 0 #000000;
    padding: 5% !important;
}

.row{
    margin: 0;
}

.form-control {
    color: #0099FF;
}

.btn-primary.active {
    background-color: #0099FF;
    border-color: #2b669a;
}

.btn-primary {
    background-image: linear-gradient(to bottom,#0099FF 0,#276F9F 100%);
}

.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #428bca;
}

.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}